
/*=============================================
=            21. Blog Post            =
=============================================*/

.blog-single-post-container{
    background-color: $white;
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1);
    padding: 25px;

    h3.post-title{
        font-size: 34px;
        line-height: 46px;
        color: #222222;
        text-align: center;
        font-weight: 500;
        margin-bottom: 20px;

        @media #{$extra-small-mobile}{
            font-size: 25px;
        }
    }

    .post-meta{
        text-align: center;
        padding-bottom: 15px;
        margin-bottom: 20px;
        p{
            span{
                color: #999999;
            }

            a{
                font-weight: 500;
                color: #323232;

                &:hover{
                    color: $theme-color;
                }
            }

            span.separator{
                padding: 0 5px;
            }
        }
    } 

    .single-blog-post-media {
        position: relative;
        margin-bottom: 50px;

        .blog-categories{
            position: absolute;
            bottom: 20px;
            left: 10px;

            ul{
                li{
                    display: inline-block;
                    a{
                        display: block;
                        background-color: #ffffff;
                        padding: 5px 10px;
                        text-transform: capitalize;
                        margin-right: 5px;
                        border-radius: 3px;

                        &:hover{
                            background-color: $theme-color;
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        .video{
            overflow: hidden;
            iframe{
                width: 100%;
                height: 500px;
                
                @media #{$large-mobile}{
                    height: 400px;
                }
                @media #{$extra-small-mobile}{
                    height: 250px;
                }
            }
        }


    } 

    .post-audio{
        overflow: hidden;
        iframe{
            width: 100%;
            height: 100px;
        }
    }

    .post-content{
        p{
            font-size: 15px;
            line-height: 29px;
        }

        blockquote{
            background: #f6f6f6;
            border: 1px solid #e0e0e0;
            border-left: 5px solid #00891b;
            font-size: 14px;
            font-style: italic;
            line-height: 26px;
            margin: 40px 0 40px 40px;
            padding: 30px 45px;

            @media #{$extra-small-mobile}{
                margin-left: 10px;
                padding: 15px 20px;
            }
        }
    }

    .tag-area{
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        padding: 10px 0;

        span{
            color: #999999;
        }

        ul{
            display: inline-block;
            li{
                display: inline-block;
                a{
                    font-size: 15px;
                    font-weight: 500;
                    font-style: italic;
                    color: #323232;
                }
            }
        }
    }

    .social-share-buttons{
        text-align: center;

        h3{
            background: none;
            color: #8c8c8c;
            font-size: 12px;
            line-height: 26px;
            margin: 0 20px;
            text-transform: uppercase;
            width: auto;
            font-weight: 500;
            margin-bottom: 15px;
        }

        ul{

            li{
                display: inline-block;
                a{
                    background: #f7f7f7;
                    border-radius: 100%;
                    color: #353535;
                    display: inline-block;
                    font-size: 12px;
                    height: 26px;
                    line-height: 26px;
                    margin-right: 10px;
                    text-align: center;
                    width: 26px;

                    &:hover{
                        background-color: $theme-color;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .related-post-container{
        
            h3.related-post-title{
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                color: #222222; 
            }
        .single-related-post{
            .image{
                margin-bottom: 15px;
            }

            .content{
                h3.related-post-title{
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 23px;

                    span{
                        display: block;
                        font-size: 13px;
                        line-height: 24px;
                        color: #999999;
                        font-weight: 400;
                        margin-top: 5px;
                    }
                }
            }
        }
    }


}



/*----------  single blog post media  ----------*/

.single-blog-post-media{
    position: relative;

        &:hover{
            .slick-arrow{
                visibility: visible;
                opacity: 0.6;

                &:hover{
                    opacity: 1;
                }
            }

            .slick-next{
                right: 10px;
            }

            .slick-prev{
                left: 10px;
            }
        }
    .slick-arrow{
        position: absolute;
        top: 50%;
        background: none;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #323232;
        color: #ffffff;
        line-height: 40px;
        z-index: 9;
        margin-top: -20px;
        visibility: hidden;
        opacity: 0;
    }

    .slick-next{
        right: 30px;
        left: auto;
    }

    .slick-prev{
        left: 30px;
        right: auto;

    }
}


/*----------  comment container  ----------*/

h3.comment-counter{
    margin-bottom: 20px;
    font-weight: 500;
}

.comment-container{
    .single-comment{
        position: relative;
        border: 1px solid #e0e0e0;
        margin: 0 0 30px;
        padding: 30px;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1);
        display: flex;

        &.reply-comment{
            margin-left: 10%;
            width: 90%;
        }

        &:last-child{
            margin-bottom: 0;
        }

        span.reply-btn{
            position: absolute;
            top: 30px;
            right: 30px;
            a{
                display: inline-block;
                border: 1px solid $theme-color;
                color: $theme-color;
                padding: 0 15px;
                font-weight: 500;
                border-radius: 50px;
                font-size: 13px;

                &:hover{
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }

        .image{
            flex-basis: 50px;

        }

        .content{
            flex-basis: 100%;
            margin-left: 20px;
            h3{
                font-size: 15px;
                line-height: 29px;
                color: #999999;
                font-weight: 700;
                font-style: italic;

                span.comment-time{
                    font-size: 14px;
                    line-height: 29px;
                    color: #999999;
                    font-weight: 400;
                    display: block;
                }
            }
            p.comment-text{
                color: #999999;
                font-size: 15px;
            }
        }

        

    }
}



/*----------  comment form  ----------*/

.comment-form-container{
    h3{
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        color: #222222;
        margin-bottom: 25px;
    }

    p{
        font-size: 12px;
        line-height: 23px;
        color: #999999;
    }
}



/*----------  comment form  ----------*/

.comment-form{
    label{
        display: block;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 29px;
        color: #999999;
        font-weight: 500;
    }
    textarea{
        border: 1px solid #e0e0e0;
        height: 130px;
        width: 100%;
        box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1);
        padding: 15px;
    }

    input{
        background: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 0;
        height: 50px;
        line-height: 48px;
        width: 100%;
        padding: 0 15px;
        vertical-align: middle;
    }
}
/*=====  End of 21. Blog Post  ======*/