/*=============================================
=            10. Category            =
=============================================*/



/*-- Category Toggle Wrap --*/
.category-toggle-wrap {
   
    width: 100%;
    padding: 12px 25px; 
    position: relative;
    border-top-right-radius: 5px;

    &:before{
        background: #00891b;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 15px;
        z-index: 1;
        transform: translateX(-100%);
    }

    &:after{
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
        border-top: 15px solid #007215;
        bottom: 0;
        content: '';
        left: -15px;
        position: absolute;
        z-index: 1;
        transform: translateY(100%);
    }
 


    // Responsive
    @media #{$large-mobile} {
        padding: 8px 25px;
    }

    // Category Toggle
    & .category-toggle {
        
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        color: $white;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500; 
        line-height: 30px;
        width: 100%;
        text-align: left;

        // Responsive
        @media #{$large-mobile} {
            font-size: 14px;
        }

        & i {
            font-size: 24px;
            display: block;
            line-height: 30px;
            float: right;

            &::before {

                // Responsive
                @media #{$tablet-device} {
                    content: "\e62a";
                }

                @media #{$large-mobile} {
                    content: "\e62a";
                }
            }

            // Responsive
            @media #{$tablet-device} {
                font-size: 18px;
            }

            @media #{$large-mobile} {
                font-size: 18px;
            }
        }
    }
}

.hero-side-category {
    background-color: $white;
    width: 100%; 
    text-transform: capitalize; 

    @media #{$large-mobile} {
        min-height: 50px;
    }

    // Responsive
    @media #{$tablet-device} {
        width: 100%; 
        position: relative;
    }

    @media #{$large-mobile} {
        width: 100%;
        z-index: 9;
        position: relative;
    }

    & .category-toggle-wrap {
        background-color: $theme-color;

        & .category-toggle {
            & i {
                &::before {

                    // Responsive
                    @media #{$tablet-device} {
                        content: "\e62a";
                    }

                    @media #{$large-mobile} {
                        content: "\e62a";
                    }
                }

                // Responsive
                @media #{$tablet-device} {
                    font-size: 18px;
                }

                @media #{$large-mobile} {
                    font-size: 18px;
                }
            }
        }
    }

    & nav.category-menu {
        background-color: #ffffff;
        float: left;
        width: 100%;
        left: 0;
        top: 45px;
        box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.1);

        // Responsive
        @media #{$tablet-device} {
            position: absolute; 
            top: 55px;
            z-index: 9;
        }

        @media #{$large-mobile} {
            position: absolute;
        }

        &>ul {

            // Responsive
            @media #{$large-mobile} {
                max-height: 180px;
                overflow-y: auto;
            }

            @media #{$small-mobile} {
                max-height: 220px;
                overflow-y: auto;
            }

            &>li {

                // Child Selector
                &:last-child {
                    &>a {
                        border-bottom: none !important;
                    }
                }

                // Responsive
                @media #{$tablet-device} {
                    position: relative;
                }

                @media #{$large-mobile} {
                    position: relative;
                }

                // Has Dropdown
                &.menu-item-has-children {
                    position: relative;

                    &>a {
                        &::before {
                            font-family: 'fontAwesome';
                            content: "\f054";
                            position: absolute;
                            right: 25px;
                            top: 0;
                            line-height: 50px;

                            // Responsive
                            @media #{$tablet-device} {
                                display: none;
                            }

                            @media #{$large-mobile} {
                                display: none;
                            }
                        }
                    }
                }

                // Plus Icon For Tablet & Mobile Device
                & i {
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                    height: 50px;
                    width: 40px;
                    line-height: 50px;
                    z-index: 9;

                    &::before {
                        background-color: #606060;
                        width: 8px;
                        height: 2px;
                        content: "";
                        position: absolute;
                        left: 50%;
                        margin-left: -4px;
                        margin-top: -1px;
                        top: 50%;
                    }

                    &::after {
                        background-color: #606060;
                        width: 2px;
                        height: 8px;
                        content: "";
                        position: absolute;
                        left: 50%;
                        margin-top: -4px;
                        margin-left: -1px;
                        top: 50%;
                        transition: all 0.3s ease 0s;
                        transform: scaleY(0);
                    }

                    &.expand {
                        &::after {
                            transform: scaleY(1);
                        }
                    }
                }

                &>a {
                    display: block;
                    padding: 10px 25px;
                    line-height: 30px;
                    font-size: 14px;
                    color: #606060;
                    font-weight: 400; 
                    position: relative;
                    border-bottom: 1px solid #e8e8e8;

                    @media #{$desktop-device}{
                        border-bottom: none;
                    }

                    // Hover
                    &:hover {
                        color: $theme-color;
                    }
                }

                &:hover {
                    & .category-mega-menu {
                        z-index: 9;
                        opacity: 1;
                        visibility: visible;
                    }
                }

                & .banner {
                    padding: 15px;
                    max-width: 300px;
                }

            }
        }

        &.category-menu-5 {
            &>ul {
                &>li {
                    &>a {
                        padding: 12px 25px;
                    }
                }
            }
        }
    }

    & nav.shop-category-menu{
        background: none;
        display: block;
        ul{
            li{
                a{
                   padding: 5px 0;
                   display: block;
                   line-height: 30px;
                   font-size: 14px;
                   color: #606060;
                   font-weight: 500;
                   position: relative;
                   border-bottom: 1px solid #e8e8e8;
                    &:hover{
                        color: $hover-color;
                    }

                }
            }
        }
    }


    &.shop-side-category{
        height: auto;
        min-height: 200px;
    }
}

/*-- Category Mega Menu --*/
.category-mega-menu {
    position: absolute;
    left: 255px;
    top: 0;
    width: 800px;
    z-index: 999;
    max-width: 910px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);

    @media #{$desktop-device}{
        left: 210px;
        width: 650px;

    }

    @media #{$tablet-device}{
        box-shadow: none;
    }
    padding: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;

    // Responsive
    @media #{$tablet-device} {
        position: static;
        z-index: 9;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
        padding: 0;
        width: 100%;
        transition: none;
    }

    @media #{$large-mobile} {
        position: static;
        z-index: 9;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
        padding: 0;
        width: 100%;
        transition: none;
    }

    &>li {
        float: left;
        width: 33.33%;
        padding: 0 15px;

        // Responsive
        @media #{$tablet-device} {
            flex: 1 0 100%;
            padding: 0;
            position: relative;

            // Before Selector
            &::before {
                content: "";
                float: left;
                height: 2px;
                width: 6px;
                background-color: #606060;
                margin: 24px 0;
                position: relative;
                left: 25px;
            }
        }

        @media #{$large-mobile} {
            flex: 1 0 100%;
            padding: 0;
            position: relative;

            // Before Selector
            &::before {
                content: "";
                float: left;
                height: 2px;
                width: 6px;
                background-color: #606060;
                margin: 24px 0;
                position: relative;
                left: 25px;
            }
        }

        &>a {
            display: block;
            font-size: 16px;
            font-weight: 500; 
            color: $theme-color;
            text-transform: uppercase;
            
            @media #{$large-mobile}{
                border-bottom: 1px solid #e8e8e8;
            }

            @media #{$desktop-device}{
                border-bottom: none;
            }

            // Responsive
            @media #{$tablet-device} {
                padding: 10px 25px 10px 35px;
                line-height: 30px;
                font-size: 14px;
                color: #606060;
                font-weight: 500;
                position: relative;
                margin: 0;
                text-transform: inherit;
            }

            @media #{$large-mobile} {
                padding: 10px 25px 10px 35px;
                line-height: 30px;
                font-size: 14px;
                color: #606060;
                font-weight: 500;
                position: relative;
                margin: 0;
                text-transform: inherit;
            }

            &.megamenu-head{
                @media #{$tablet-device}{
                    border-bottom: 1px solid #ddd;
                }
                @media #{$large-mobile}{
                    border-bottom: 1px solid #ddd;
                }
                padding-bottom: 10px;
            }
        }

         

        &>ul {
            & li {
                margin-bottom: 4px;

                // Responsive
                @media #{$tablet-device} {

                    // Before Selector
                    &::before {
                        content: "";
                        float: left;
                        height: 2px;
                        width: 6px;
                        background-color: #606060;
                        margin: 24px 0;
                        position: relative;
                        left: 35px;
                    }
                }

                @media #{$large-mobile} {

                    // Before Selector
                    &::before {
                        content: "";
                        float: left;
                        height: 2px;
                        width: 6px;
                        background-color: #606060;
                        margin: 24px 0;
                        position: relative;
                        left: 35px;
                    }
                }

                // Child Selector
                &:last-child {
                    margin-bottom: 0;
                }

                & a {
                    display: block;
                    font-size: 14px;
                    color: #606060;
                    line-height: 20px;
                    @media #{$large-mobile}{
                        border-bottom: 1px solid #e8e8e8;
                    }

                    @media #{$desktop-device}{
                        border-bottom: none;
                    }

                    // Responsive
                    @media #{$tablet-device} {
                        padding: 10px 25px 10px 45px;
                        line-height: 30px;
                        font-size: 14px;
                        color: #666666; 
                        font-weight: 400;
                        position: relative;
                    }

                    @media #{$large-mobile} {
                        padding: 10px 25px 10px 45px;
                        line-height: 30px;
                        font-size: 14px;
                        color: #666666;
                        font-weight: 400;
                        position: relative;
                    }

                    // Hover
                    &:hover {
                        color: $hover-color;
                    }
                }
            }
        }

        // Menu Banner Add
        &.add {
            float: left;
            width: auto;
            padding: 0;
            border: none;
            margin: 30px -45px 0;

            & a {
                display: block;
                border: none;
                margin: 0;

                & img {
                    width: 100%;
                }
            }
        }

    }

    


}


a#more-btn{
    font-weight: 500;
}


/*=====  End of 10. category  ======*/