/*=============================================
=            06. Slider            =
=============================================*/

.slider {
    .section-title {
        position: relative;

        &.red-title{
            h3{
                background: #ee8a82;
                &:before{
                    background: #ee8a82;
                }
                &:after{
                    border-bottom: 15px solid transparent;
                    border-left: 15px solid transparent;
                    border-top: 15px solid #83231b;
                    bottom: 0;
                }
            }
        }

        &.yellow-title{
            h3{
                background: #ffbd2d;
                &:before{
                    background: #ffbd2d;
                }
                &:after{
                    border-bottom: 15px solid transparent;
                    border-left: 15px solid transparent;
                    border-top: 15px solid #c57d00;
                    bottom: 0;
                }
            }
        }

        &.coffee-title{
            h3{
                background: #ab9b81;
                &:before{
                    background: #ab9b81;
                }
                &:after{
                    border-bottom: 15px solid transparent;
                    border-left: 15px solid transparent;
                    border-top: 15px solid #63543d;
                    bottom: 0;
                }
            }
        }

        h3 {
            margin-bottom: 0;
            color: #fff;
            text-transform: uppercase;
            font-size: 1em;
            line-height: 1.5;
            margin-right: 100px;
            background: #00891b;
            padding: 15px 25px 15px 10px;
            position: relative;
            display: inline-block;
            z-index: 27;
            border-radius: 0 5px 0 0;
            font-weight: 500;

            &:before {
                background: #00891b;
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 15px;
                z-index: 1;
                transform: translateX(-100%);

                @media #{$small-mobile}{
                    width: 10px;
                }
            }

            &:after {
                border-bottom: 15px solid transparent;
                border-left: 15px solid transparent;
                border-top: 15px solid #007215;
                bottom: 1px;
                content: '';
                left: -15px;
                position: absolute;
                z-index: 1;
                transform: translateY(100%);

                @media #{$small-mobile}{
                    border-bottom: 10px solid transparent;
                    border-left: 10px solid transparent;
                    border-top: 10px solid #007215;
                    left: -10px;
                }
            }
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            background: #e9e9e9;
            top: 12px;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .slick-arrow {
        position: absolute;
        top: -30px;
        right: 10px;
        background: none;
        border: none;
        text-align: center;
        line-height: 20px;

        &:hover {
            i.fa {
                color: $theme-color;
                border-color: $theme-color;
            }
        }


        i.fa {
            width: 20px;
            height: 20px;
            border: 2px solid #999;
            color: #999;
            padding-top: 2px;
            border-radius: 50%;

        }



    }

    .slick-disabled {
        color: #999;

        &:hover {
            i.fa {
                color: #999;
                border-color: #999;
            }

        }
    }

    .slick-prev {
        right: 40px;

        i.fa {
            padding-right: 2px;
        }
    }

    .slick-next {
        i.fa {
            padding-left: 2px;
        }
    }
}


/*----------  06.1 category slider  ----------*/

.category-slider-container {
    padding: 30px 0;

    &.slick-slider {
        background-color: #ffffff;
        box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
    }


        .slick-slide{
        .category-image{
            
                img{
                    border-radius: 50%;
                }
            }

        }

}




/*----------  06.2 Blog post slider  ----------*/

.blog-slider-container {
    &.slick-slider {
        background-color: #ffffff;
        box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .slick-list {
        margin-left: -15px;
        margin-right: -15px;
    }
}


.single-post-wrapper {
    .post-thumb {
        margin-bottom: 18px;

        a {
            display: block;
            overflow: hidden;

            img {
                width: 100%;
            }

            &:hover {
                img {
                    transform: scale(1.02);
                }
            }
        }
    }

    .post-meta {
        margin-bottom: 10px;
    }

    h3.post-title {
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 10px;
        color: #222;
        font-weight: 500;
    }
}


/*----------  06.3 brand logo slider  ----------*/

.brand-logo-wrapper {
    &.slick-slider {
        background-color: #ffffff;
        box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
    }
}

.single-brand-logo {
    a {
        display: block;
        overflow: hidden;

        img {
            width: 100%;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}



/*----------  06.4 best seller slider ----------*/

.best-seller-slider-container {
    &.slick-slider {
        background-color: #ffffff;
        box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
    }
}

.slick-active {
    .best-seller-sub-product {
        animation: customZoomIn 500ms ease-in-out;
    }
}


.tab-slider-container {
    &.slick-slider {
        background-color: #ffffff;
        box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .slick-active {
        .tab-slider-sub-product {
            animation: customZoomIn 500ms ease-in-out;
        }
    }
}

.tab-slider-wrapper {
    nav {
        background-color: #e9e9e9;
    }

    .nav-tabs {
        border-bottom: 0;

        .nav-link {
            font-size: 15px;
            line-height: 23px;
            color: #222;
            font-weight: 500;
            text-transform: uppercase;
            position: relative;
            padding: 10px 20px;
            border: none;

            @media #{$large-mobile}{
                font-size: 10px;
                padding: 10px 10px; 
            }  

            &.active {
                color: $theme-color;
                text-transform: uppercase;
                font-weight: 500;
                border: none;
                background: none;

                &:before {
                    background: #00891b;
                    left: 0;
                    right: 0;
                }
            }

            &:hover {
                border-color: transparent;

                &:before {
                    background: #00891b;
                    left: 0;
                    right: 0;
                }
            }

            &:before {
                background: transparent;
                bottom: 0;
                content: '';
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                right: 50%;
                top: auto;
                width: auto;
                z-index: 9;
                transition: all .3s ease;
            }
        }
    }
}






/*----------  06.5 Single sale product slider  ----------*/

.sale-single-product-section {

    .section-big-title {
        h2 {
            font-size: 40px;
            line-height: 54px;
            font-weight: 500;

            @media #{$extra-small-mobile}{
                font-size: 25px;
                line-height: 35px;
            }

            span {
                display: block;
                color: $theme-color;
                font-size: 15px;
                line-height: 29px;
            }
        }
    }

    .sale-single-product-container {
        .slick-arrow {
            position: absolute;
            top: 50%;
            background-color: #ccc;
            border: none;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            color: #fff;
            font-size: 30px;
            line-height: 45px;
            text-align: center;
            visibility: hidden;
            opacity: 0;
            z-index: 9;

            @media #{$desktop-device} {
                display: none;
            }

            @media #{$tablet-device} {
                display: none;
            }

            span {
                position: relative;
                right: 2px;
            }




            &.slick-next {
                right: -50px;

                @media #{$laptop-device} {
                    right: -30px;
                }

                @media #{$desktop-device} {
                    right: -10px;
                }

            }

            &.slick-prev {
                left: -50px;

                @media #{$laptop-device} {
                    left: -30px;

                }

                @media #{$desktop-device} {
                    left: -10px;

                }
            }

            &:hover {
                background-color: #000;
            }
        }


    }


    .sale-single-product {
        margin: 0 30px;

        @media #{$extra-small-mobile}{
            margin: 0 10px;
        }
    }

    &:hover {
        .slick-arrow {
            visibility: visible;
            opacity: 1;
        }
    }
}



/*----------  06.6 Hero Slider  ----------*/

.hero-slider-one {
    position: relative;
    z-index: 1;

    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 2;
        background: none;
        border: none;
        color: #ffffff;
        font-size: 25px;
        height: 80px;
        width: 80px;
        line-height: 80px;
        text-align: center;
        margin-top: -40px;

        @media #{$laptop-device} {
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 20px;
        }

        @media #{$desktop-device} {
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 20px;
        }

        @media #{$tablet-device} {
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 20px;
        }
        @media #{$large-mobile} {
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 20px;
        }
        @media #{$small-mobile} {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 15px;
        }
        @media #{$extra-small-mobile} {
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
        }

        &:hover {
            &:after {
                opacity: 0.5;
            }
        }

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            opacity: 0.2;
            content: "";
            z-index: -1;
            border-radius: 50%;
            transition: 0.3s;
        }
    }

    .slick-next {
        right: 3%;
        ;
    }

    .slick-prev {
        left: 3%;
        ;
    }
}



/*----------  06.7 banner slider  ----------*/

.banner-slider-wrapper {

    background-color: #ffffff;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);

    .banner-slider-container{
        .slick-arrow{
            @media #{$large-mobile}{
            }
            @media #{$small-mobile}{
                top: 10px;
            }
            @media #{$extra-small-mobile}{
                display: block;
                top: 10px; 
            }
        }
    }


}



/*----------  06.8 deal of the day slider  ----------*/

.multisale-slider-wrapper {
    background-color: #ffffff;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);


    .slick-active {
        &.multisale-slider-product {
            animation: customZoomIn 500ms ease-in-out;
        }
    }
}



/*----------  06.9 Related product slider  ----------*/

.related-product-slider-wrapper {
    background-color: #ffffff;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);


    .slick-active {
        &.related-slider-product {
            animation: customZoomIn 500ms ease-in-out;
        }
    }
}



/*----------  banner slider container  ----------*/

.banner-slider-container{
        .slick-arrow{
            @media #{$large-mobile}{
                top: 10px;
            }
    }
}

/*=====  End of 06. Slider  ======*/